.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nome {
  margin: 0.5rem 0;
}

.link {
  transform: scale(1);
  transition: all linear 0.1s;
}

.link:hover {
  transform: scale(1.05);
}
